// .post-list
//     &-item
//         width: 74%
//     &-unit
//         display: flex
//         align-items: center
//         background-color: #fff
//         padding-left: 25px
//     &-image
//         width: 336px
//         height: 195px
//         object-fit: cover
//     &-info
//         margin-top: 30px
// .author-info
//     display: flex
//     width: 100%
// .date,.likes,.comments
//     margin-right: 8px

.post-list
    display: flex
    margin-bottom: 60px
    &-wrapper
        width: 74%
    &-item
        margin: 0
        width: 100%
        padding: 0

    &-unit
        display: flex
        align-items: center
        justify-content: space-between
        flex-direction: column
        width: 95%
        height: 245px
        flex-wrap: wrap
        background-color: #fff
        margin: 0
        position: relative
        &:first-child
            border-radius: 10px 10px 0px 0px
        &:last-child
            border-radius: 0px 0px 10px 10px

        &:not(:last-child):after
            content: ""
            position: absolute
            bottom: 0
            width: 95%
            height: 1px
            background-color: #D9DADB

        .author-info
            display: flex
            align-items: center
            margin-top: auto
            position: absolute
            bottom: 0
            .comments
                margin: 0 10px
                &-counter
                    margin-left: 5px
            .likes
                &-counter
                    margin-left: 5px

    &-info
        display: flex
        flex-direction: column
        width: 50%
        margin-right: 25px
        position: relative
        margin-top: 25px
        height: 190px
        .category-name
            font-weight: 900
            font-size: 12px
            line-height: 15px
            letter-spacing: 0.5px
            text-transform: uppercase
            color: #4592FF
            margin-bottom: 15px
    &-permalink
        text-decoration: none
    &-title
        font-family: Roboto Slab
        font-style: normal
        font-weight: bold
        font-size: 20px
        line-height: 25px
        color: #262D33
        margin: 0

    &-image
        width: 40%
        height: 80%
        object-fit: cover
        margin: 25px
    &-excerpt
        margin: 0
        margin-top: 10px
        font-size: 14px
        line-height: 20px
        color: #4B5157
@media screen and ( max-width:1200px  )
    .post-list
        flex-wrap: wrap
        &-title
            font-size: 16px
        &-excerpt
            font-size: 12px
            margin: 0
        .sidebar-front-page
            width: 100%
            margin: 30px
@media screen and ( max-width:960px  )
    .post-list-item
        width: 100%
    .sidebar-front-page
        margin: 30px
@media screen and ( max-width: 340px )
    .post-list
        &-image
            display: none
        &-permalink
            font-size: 18px
        &-excerpt
            font-size: 12px
