@font-face {
  font-family: "Lato Black";
  src: local("Lato-Black"), local("Lato Black"), url("../fonts/Lato-Black.woff") format("woff"), url("../fonts/Lato-Black.woff2") format("woff2");
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Lato Regular";
  src: local("Lato-Regular"), local("Lato Regular"), url("../fonts/Lato-Regular.woff") format("woff"), url("../fonts/Lato-Regular.woff2") format("woff2");
  font-style: normal;
  font-display: swap;
}

body {
  font-family: "Lato Regular", sans-serif;
  font-size: 14px;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.container {
  max-width: 1140px;
  width: 90%;
  margin: auto;
}

.header {
  background-color: #262D33;
  padding-top: 15px;
  padding-bottom: 15px;
}

.header-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header-menu {
  padding: 0;
  margin: 0;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu-item a {
  text-decoration: none;
  color: #fff;
  margin-left: 15px;
  margin-right: 15px;
}

.search-form {
  position: relative;
  width: 240px;
  height: 40px;
}

.search-form input {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: #656B70;
  border-radius: 10px;
  border: none;
  padding: 10px 25px;
}

.search-form input::-webkit-input-placeholder {
  color: #BCBFC2;
}

.search-form input:-ms-input-placeholder {
  color: #BCBFC2;
}

.search-form input::-ms-input-placeholder {
  color: #BCBFC2;
}

.search-form input::placeholder {
  color: #BCBFC2;
}

.search-button {
  position: absolute;
  right: 20px;
  top: 0px;
  width: 25px;
  height: 40px;
  background-image: url(../images/search.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.home {
  background-color: #e5e5e5;
}

.front-page-header {
  padding-top: 30px;
  background-color: #262D33;
  position: relative;
  height: 475px;
}

.hero {
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  border-radius: 10px;
  min-height: 570px;
  position: relative;
  z-index: 1;
}

.hero .left {
  -ms-flex-preferred-size: 75%;
      flex-basis: 75%;
  position: relative;
  padding: 55px 55px 100px 55px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.hero .left::before {
  content: "";
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: rgba(64, 48, 61, 0.35);
}

.hero .left .post-thumb {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 0;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.hero .left .author {
  z-index: 2;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
}

.hero .left .author-bio {
  margin-left: 10px;
}

.hero .left .author-name {
  display: block;
  font-size: 14px;
  line-height: 20px;
  color: rgba(255, 255, 255, 0.85);
}

.hero .left .author-rank {
  color: rgba(255, 255, 255, 0.4);
}

.hero .left .avatar {
  width: 45px;
  height: 45px;
  border-radius: 50%;
}

.hero .left .post-categories {
  margin: 0;
  padding: 0;
  list-style: none;
}

.hero .left .post-title {
  color: #FFFFFF;
  font-family: 'Roboto Slab';
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 50px;
  margin-top: 20px;
  margin-bottom: 50px;
  max-width: 590px;
}

.hero .left .post-text {
  position: relative;
  z-index: 2;
}

.right {
  -ms-flex-preferred-size: 25%;
      flex-basis: 25%;
}

.right .recommend {
  margin-left: 25px;
  margin-bottom: 20px;
  margin-top: 20px;
  font-weight: 900;
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;
}

.right .posts-list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.right .post {
  min-height: 100px;
  padding: 17px 25px 19px 25px;
  margin: 0;
  border-top: 1px solid #D9DADB;
}

.right .post-categories {
  margin: 0;
  padding: 0;
  list-style: none;
}

.right .post-categories a {
  font-weight: 900;
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
  text-decoration: none;
}

.right .post-permalink {
  text-decoration: none;
  color: #4B5157;
}

.right .post:hover {
  background-color: #F5F5F5;
}

.right .post-title {
  min-height: 40px;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  margin-bottom: 0;
  margin-top: 8px;
}

.more {
  display: inline-block;
  color: #FFFFFF;
  padding: 10px 20px;
  padding-right: 50px;
  background: #4592FF;
  border-radius: 20px;
  text-decoration: none;
  background-image: url("../images/arrow.svg");
  background-repeat: no-repeat;
  background-position: center right 20px;
}

.category-link {
  color: #4592FF;
  text-transform: uppercase;
  font-weight: 900;
  font-size: 12px;
  line-height: 15px;
  text-decoration: none;
}

.category-link.web-design {
  color: #FFA34D;
}

.category-link.java-script {
  color: #6E99AE;
}

.category-link.html {
  color: #AC8EE3;
}

.category-link.css {
  color: #3DC47E;
}

.article-list {
  margin: 0;
  padding: 0;
  margin-top: 180px;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #30363D;
  border-radius: 10px;
}

.article-item {
  width: 25%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 30px 25px 35px;
  position: relative;
}

.article-item:not(:last-child):after {
  content: '';
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  right: 0;
  height: 70%;
  width: 1px;
  background-color: #4B5157;
  display: block;
}

.article-permalink {
  text-decoration: none;
  color: #fff;
  width: 150px;
}

.article-permalink:hover {
  color: #fff;
}

.article-title {
  font-weight: 400;
  margin: 0;
  font-size: 14px;
  line-height: 20px;
}

.main-grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.article-grid {
  max-width: 850px;
  margin: 30px 0 60px;
  padding: 0;
  list-style: none;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  -ms-grid-rows: minmax(min-content, max-content) (200px)[2];
      grid-template-rows: minmax(-webkit-min-content, -webkit-max-content) repeat(2, 200px);
      grid-template-rows: minmax(min-content, max-content) repeat(2, 200px);
  grid-column-gap: 30px;
  grid-row-gap: 30px;
}

.article-grid-permalink {
  text-decoration: none;
  color: #262D33;
}

.article-grid-item {
  border-radius: 10px;
  background-color: #fff;
  overflow: hidden;
}

.article-grid-item-1 {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: 1 / 1 / 2 / 3;
  padding: 35px 35px 53px 35px;
  position: relative;
  overflow: hidden;
}

.article-grid-item-1 .category-name {
  font-weight: 900;
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
  color: #6E99AE;
}

.article-grid-item-1 .article-grid-title {
  width: 70%;
  font-family: Roboto Slab;
  font-weight: bold;
  font-size: 25px;
  line-height: 30px;
  margin-top: 20px;
  margin-bottom: 25px;
}

.article-grid-item-1 .article-grid-excerpt {
  font-size: 14px;
  line-height: 20px;
  width: 70%;
  margin-bottom: 55px;
}

.article-grid-item-1 .article-grid-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 15px 35px;
  border-top: 1px solid #D9DADB;
  background-color: #fff;
}

.article-grid-item-1 .article-grid-info .author {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.article-grid-item-1 .article-grid-info .author-avatar {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-right: 10px;
}

.article-grid-item-1 .article-grid-info .author-name {
  max-width: 390px;
  white-space: nowrap;
  overflow: hidden;
}

.article-grid-item-1 .article-grid-info .author-name strong {
  font-weight: 900;
  font-size: 14px;
  line-height: 20px;
}

.article-grid-item-1 .article-grid-info .comments {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.article-grid-item-1 .article-grid-info .comments-counter {
  font-size: 12px;
  line-height: 15px;
  color: #939699;
  margin-left: 5px;
}

.article-grid-item-2 {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-area: 1 / 3 / 2 / 4;
  position: relative;
  background-color: transparent;
}

.article-grid-item-2::before {
  content: '';
  position: absolute;
  z-index: 0;
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(64, 48, 61, 0.35)), to(rgba(64, 48, 61, 0.35)));
  background: linear-gradient(0deg, rgba(64, 48, 61, 0.35), rgba(64, 48, 61, 0.35));
  width: 100%;
  height: 100%;
}

.article-grid-item-2 .article-grid-thumb {
  position: absolute;
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  left: 0;
  top: 0;
  z-index: -1;
}

.article-grid-item-2 .article-grid-permalink {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 25px;
}

.article-grid-item-2 .article-grid-title {
  font-family: Roboto Slab;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 25px;
  color: #FFFF;
  margin-top: 23px;
  margin-bottom: 27px;
}

.article-grid-item-2 .tag {
  padding: 5px 12px;
  background: #3DC47E;
  border-radius: 3px;
  color: #fff;
  font-size: 12px;
  line-height: 15px;
  text-transform: capitalize;
}

.article-grid-item-2 .category-name {
  color: #E7D9FF;
  font-family: 'Lato Black', sans-serif;
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
  margin-top: auto;
}

.article-grid-item-2 .author {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.article-grid-item-2 .author-info {
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-left: 10px;
}

.article-grid-item-2 .author-avatar {
  width: 45px;
  height: 45px;
  border-radius: 50%;
}

.article-grid-item-2 .author-name {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
}

.article-grid-item-2 .date, .article-grid-item-2 .comments, .article-grid-item-2 .likes {
  opacity: 0.4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.article-grid-item-2 .date:not(:first-child), .article-grid-item-2 .comments:not(:first-child), .article-grid-item-2 .likes:not(:first-child) {
  margin-left: 7px;
}

.article-grid-item-2 .date-counter, .article-grid-item-2 .comments-counter, .article-grid-item-2 .likes-counter {
  margin-left: 5px;
}

.article-grid-item-3 {
  -ms-grid-row: 2;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-area: 2 / 1 / 4 / 2;
}

.article-grid-item-3 .article-thumb {
  height: 70%;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
}

.article-grid-item-3 .article-grid-title {
  padding: 15px 25px 35px;
  margin: 0;
  font-family: Roboto Slab;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 25px;
}

.article-grid-item-default {
  position: relative;
}

.article-grid-item-default .article-grid-permalink {
  padding: 25px 25px 30px;
  position: absolute;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.article-grid-item-default .article-grid-title {
  font-family: Roboto Slab;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 25px;
  margin: 0;
}

.article-grid-item-default .article-grid-excerpt {
  font-size: 14px;
  line-height: 20px;
}

.article-grid-item-default .article-date {
  font-size: 13px;
  line-height: 15px;
  color: #939699;
}

body {
  counter-reset: section;
}

.sidebar-front-page {
  margin-left: 30px;
  width: 23%;
}

.widget {
  background-color: #fff;
  border-radius: 10px;
}

.widget-title {
  padding: 20px 25px;
  border-bottom: 1px solid #D9DADB;
  font-size: 14px;
  line-height: 20px;
  font-family: "Lato Black", 'sans-serif';
  text-transform: uppercase;
  margin: 0;
}

.widget-downloader {
  background: #3BBDC4 url("../images/file.svg") no-repeat top 22px right 24px;
  border-radius: 10px;
  color: #ffffff;
  padding: 25px;
  padding-bottom: 55px;
  position: relative;
  margin-top: 30px;
}

.widget-downloader .widget-title {
  text-transform: none;
  margin-top: 0;
  font-family: Roboto Slab;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 25px;
  border: none;
  padding: 0;
}

.widget-downloader .widget-link {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  padding-top: 12px;
  padding-bottom: 13px;
  border-top: 1px solid rgba(255, 255, 255, 0.75);
  color: #fff;
  text-decoration: none;
  font-weight: 900;
  font-size: 14px;
  line-height: 20px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.widget-downloader .widget-link-icon {
  margin-right: 10px;
}

.widget-downloader .description {
  color: #C1F4F5;
  font-size: 14px;
  line-height: 20px;
  margin: 0;
}

.widget-recent-posts-wrapper {
  padding: 0px 25px 17px;
}

.widget-recent-posts a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  padding-top: 17px;
  padding-bottom: 17px;
  position: relative;
}

.widget-recent-posts a:not(:last-child) {
  border-bottom: 1px solid #D9DADB;
}

.widget-recent-posts a::before {
  position: absolute;
  counter-increment: section;
  content: counter(section);
  right: 0;
  font-size: 70px;
  line-height: 50px;
  color: #262D33;
  opacity: 0.08;
  font-family: "Lato Black", 'sans-serif';
  font-style: italic;
}

.widget-recent-posts img {
  width: 60px;
  height: 60px;
  margin-right: 10px;
}

.widget-recent-posts h4 {
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  color: #4B5157;
  margin-top: 0;
  margin-bottom: 5px;
}

.widget-recent-posts span {
  font-size: 12px;
  line-height: 15px;
  color: #939699;
}

.widget .tagcloud {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  max-width: 263px;
  padding: 25px;
  padding-bottom: 35px;
}

.widget .tag-cloud-link {
  line-height: 20px;
  color: #262D33;
  margin-right: 15px;
  margin-bottom: 10px;
  text-decoration: none;
  padding: 5px 15px;
  border: 1px solid #D9DADB;
  border-radius: 5px;
  font-family: "Lato Black", 'sans-serif';
}

.widget-social {
  max-width: 263px;
}

.widget-social {
  margin: 0;
}

.widget-social .widget-title {
  font-family: Roboto Slab;
  font-size: 20px;
  line-height: 25px;
  border-bottom: none;
  padding: 25px 30px 15px;
  text-align: center;
}

.social-link-tag {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-bottom: 30px;
  padding-top: 20px;
}

.social-link-tag .social-widget-link {
  width: 40px;
  height: 40px;
  margin: 10px 5px;
}

.investigation {
  padding: 50px 0 55px;
  text-align: center;
  margin-bottom: 60px;
}

.investigation-title {
  font-family: Roboto Slab;
  font-size: 40px;
  line-height: 50px;
  color: #FFFF;
  max-width: 946px;
  margin: 0 auto 25px;
}

.post-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.post-list-item {
  margin: 0;
  padding: 0;
  width: 77%;
}

.post-list-unit {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 848px;
  height: 245px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  background-color: #fff;
  margin: 0;
  position: relative;
}

.post-list-unit:first-child {
  border-radius: 10px 10px 0px 0px;
}

.post-list-unit:last-child {
  border-radius: 0px 0px 10px 10px;
}

.post-list-unit:not(:last-child):after {
  content: "";
  position: absolute;
  bottom: 0;
  width: 95%;
  height: 1px;
  background-color: #D9DADB;
}

.post-list-unit .author-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: auto;
  position: absolute;
  bottom: 0;
}

.post-list-unit .author-info .comments {
  margin: 0 10px;
}

.post-list-unit .author-info .comments-counter {
  margin-left: 5px;
}

.post-list-unit .author-info .likes-counter {
  margin-left: 5px;
}

.post-list-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 50%;
  margin-right: 25px;
  position: relative;
  margin-top: 25px;
  height: 190px;
}

.post-list-info .category-name {
  font-weight: 900;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  color: #4592FF;
  margin-bottom: 15px;
}

.post-list-permalink {
  text-decoration: none;
}

.post-list-title {
  font-family: Roboto Slab;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 25px;
  color: #262D33;
  margin: 0;
}

.post-list-image {
  width: 336px;
  height: 195px;
  -o-object-fit: cover;
     object-fit: cover;
  margin: 25px;
}

.post-list-excerpt {
  margin: 0;
  margin-top: 10px;
  font-size: 14px;
  line-height: 20px;
  color: #4B5157;
}

.special {
  background-color: #262D33;
  padding: 60px 0;
}

.special-grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.photo-report {
  min-height: 570px;
  width: 49%;
  position: relative;
  overflow: hidden;
  border-radius: 10px;
}

.photo-report .category-link {
  font-size: 12px;
  line-height: 15px;
  font-weight: normal;
  color: #fff;
  border-radius: 3px;
  background: #3DC47E;
  padding: 5px 12px;
  -ms-flex-item-align: start;
      -ms-grid-row-align: start;
      align-self: start;
  text-transform: none;
  position: absolute;
  left: 18px;
  top: 18px;
}

.photo-report .author {
  text-align: center;
  text-decoration: none;
}

.photo-report .author-name {
  display: block;
  font-size: 14px;
  line-height: 20px;
  color: #fff;
}

.photo-report .author-rank {
  font-size: 12px;
  line-height: 15px;
  opacity: 0.4;
  color: #FFF;
}

.photo-report .author-avatar {
  border-radius: 50%;
  width: 45px;
  height: 45px;
  margin-bottom: 8px;
}

.photo-report::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(64, 48, 61, 0.35)), to(rgba(64, 48, 61, 0.35)));
  background: linear-gradient(0deg, rgba(64, 48, 61, 0.35), rgba(64, 48, 61, 0.35));
  z-index: 1;
}

.photo-report-button {
  color: #fff;
  background: #4592FF;
  border-radius: 20px;
  padding: 10px 20px;
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 20px;
}

.photo-report-icon {
  fill: #fff;
  padding-right: 8px;
}

.photo-report-counter {
  margin-left: 8px;
}

.photo-report-content {
  position: relative;
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 18px;
  height: 100%;
  text-align: center;
}

.photo-report-slider {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
}

.photo-report-slider-swiper-slide {
  height: 100%;
}

.photo-report-slider img {
  height: inherit;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
}

.photo-report-title {
  font-size: 40px;
  line-height: 50px;
  color: #fff;
  font-family: Roboto Slab;
}

.other {
  width: 49%;
}

.other-posts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.other-post {
  width: 48%;
  padding: 25px 25px 30px;
  background-color: #fff;
  border-radius: 10px;
  overflow: hidden;
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-decoration: none;
  min-height: 170px;
}

.other-post-title {
  margin: 0;
  font-family: Roboto Slab;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 25px;
  color: #262D33;
}

.other-post-excerpt {
  margin-bottom: auto;
  color: #4B5157;
  margin-top: 5px;
}

.other-post-date {
  color: #939699;
  margin-top: 10px;
}

.other .career-post {
  border-radius: 10px;
  overflow: hidden;
  background: #D1E2EB url(../images/career.png) no-repeat right top/cover;
  min-height: 370px;
  padding: 35px;
}

.other .career-post-title {
  color: #262D33;
  font-family: Roboto Slab;
  font-style: normal;
  font-weight: bold;
  font-size: 25px;
  line-height: 30px;
  max-width: 245px;
  margin: 20px 0 15px;
}

.other .career-post-excerpt {
  max-width: 214px;
  color: #4B5157;
  margin-bottom: 45px;
}

.other .career-post .category-link {
  font-size: 12px;
  line-height: 15px;
  color: #6E99AE;
}
